<div class="intro">
  <h1 class="chris">Chris DeLauder</h1>
  <h3 class="chris-title">Full Stack Web Developer</h3>
  <p class="blurb">My dream is to live in a world where everything is a single-page app. I promote this vision by building apps in Rails and Sinatra using Ruby and Javascript. I am currently learning Node as a way of trying to satisfy my hunger for more Javascript. In my spare time you will find me curling or hiking with my beagle Nibbler.</p>
</div>
<div class="content-links">
  <a href="/photos" class="home-link">Home</a>
  <a href="/links" class="portfolio-link">Portfolio</a>
  <a href="/contacts" class="contact-link">Contact Me</a>
</div>
<div class="main-content">  
  <img src="" alt="I will be a photo" class="my-pic">
</div>

