<span class='resume'><%= link_to content_tag(:i,nil, :class=>"fa fa-file-pdf-o")+'Download Resume', download_users_path %></span>
<br>
<iframe src=<%= display_users_path %> class="inline-pdf"></iframe>