<a href="mailto:c.delauder@gmail.com" class="contact-me-link" target="blank"><i class="fa fa-envelope-square fa-2x"></i>
Email Me</a>
<br>
<a href="https://github.com/cdelauder" class="contact-me-link" target="blank"><i class="fa fa-github-square fa-2x"></i>See My Code On Github</a>
<br>
<a href="https://www.linkedin.com/in/chrisdelauder/" class="contact-me-link" target="blank"><i class="fa fa-linkedin-square fa-2x"></i>Visit My Profile On LinkedIn</a>
