<a href="mailto:c.delauder@gmail.com" class="contact-me-link" target="blank">Email Me</a>
<a href="https://github.com/cdelauder" class="contact-me-link" target="blank">See My Code On Github</a>
<a href="https://www.linkedin.com/in/chrisdelauder/" class="contact-me-link" target="blank">Visit My Profile On LinkedIn</a>