<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="css/stylesheet.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen">
  <title>Chris DeLauder: Full Stack Web Developer</title>
</head>
  <body>
    <div class="intro">
      <h1 class="chris">Chris DeLauder</h1>
      <h3 class="chris-title">Full Stack Web Developer</h3>
      <p>I am proficient in both Ruby and Javascript. I have built on both Rails and Sinatra, and am currently in pursuit of node mastery. I hope that we can all someday enjoy a world where everything is a single-page app.</p>
    </div>
    <div class="content-links">
      <a href="/portfolio" class="portfolio-link">Portfolio</a>
      <a href="/contact" class="contact-link">Contact Me</a>
    </div>
    <div class="main-content">  
    </div>
  </body>
</html>