<!DOCTYPE html>
<html>
<head>
  <title>Chris DeLauder: Full Stack Web Developer</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="RrSd_iaAcYfbzvL360paK1wZeqwQJfsyqVQlCEIJG0U" />
</head>
<body>
<div class='page'>
   <%= yield %>
  
</div>
<div class="footer">
  <a href="https://github.com/cdelauder" class="fa fa-github-square footer-link" target="blank"></a>
  <a href="https://twitter.com/beaglebets" class="fa fa-twitter-square footer-link" target="blank"></a>
  <a href="https://www.linkedin.com/in/chrisdelauder/" class="fa fa-linkedin-square footer-link" target="blank"></a>
  <a href="https://github.com/cdelauder/portfolio_site" class="portfolio-source">source</a>
  © Chris DeLauder
</div>
</body>
</html>
